[Unit]
Description=ICEES API container
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a icees-api_server
ExecStop=/usr/bin/docker stop -t 2 icees-api_server

[Install]
WantedBy=local.target
