bmt-lite-2.2.1==2.1.2
sqlalchemy
psycopg2-binary
scipy
gunicorn==19.10.0
jsonschema
pyyaml
tabulate
structlog
pandas==0.25.3
argparse
simplejson
tx-functional==0.1.2
numpy
statsmodels==0.12.0
fastapi
uvicorn
reasoner-pydantic==1.2.0
redis==3.5.3
